<div class="container">
  <h1>FOODIE-MON MASTER</h1>

  <p>Please add a picture!</p>

  <form action="/pictures" method="post">
    <input type="text" placeholder="Enter Username" name="picture[name]">
    <br>
    <br>
    <input type="text" placeholder="Enter URL" name="picture[url]">
    <br>
    <br>
    <input type="submit" value="Submit!">
  </form>
</div>
