<h1>Hi <%= session[:foody][:name] %></h1>
<h4>Here are your galleries</h4>

<% @galleries.each do |gallery| %>
<ul>
	<li><%= gallery.name %></li>
	
	<a href="/gallery/<%= gallery.id %>/edit">Edit?</a>

	<form action="/gallery/<%= gallery.id %>" method="post">
		<input name="_method" type="hidden" value="delete" />
		<input type="submit" value="Delete?">
	</form>

</ul>
<% end %>