<div class="container">
  <h1>FOODIE-MON MASTER</h1>
  
  <p>Please Signup Below</p>
  <form action="/galleries" method="post">
    <input type="text" placeholder="Enter Gallery Name" name="gallery[name]">
    <br>
    <input type="submit" value="Sign Up">
  </form>
</div>