<div class="container">
  <h1>FOODIE-MON MASTER</h1>

  <h2>Welcome, <%= session[:foody][:name]%> :-)</h2>

  <form action="/foodies" method="post">
    <input name="_method" value="put" type="hidden"/>
    <input type="text" value="<%= session[:foody][:name] %>" name="foody[name]">
    <br>
    <br>
    <input placeholder="Enter new password" type="password"  name="foody[password]">
    <br>
    <br>
    <input type="submit" value="Change your password">
  </form>
    <br>
  <form action="/foody/<%= session[:foody][:id] %>" method="post">
    <input name="_method" value="delete" type="hidden"/>
    <input type="submit" value="Delete My Account">
  </form>
</div>
