<div class="container">
  <h1>WELCOME <%= @foody.name %>!</h1>
  <p>Choose what you want to do</p>
  <p>View your Galleries</p>
  <% @foody.galleries.each do |gallery| %>
  <%= "<a href='/gallery/#{gallery.id}'>#{gallery.name}</a> 
  <a href='/gallery/#{gallery.id}/edit'>Edit </a><br>" %>
  <% end %>

  <br>
  <br>

  <a href="/gallery/new">Create a new gallery</a>
  <br>
  <br>
  <%= erb :'/partials/sign_out'  %>
</div>
