<div class="container">
  <h1>FOODIE-MON MASTER</h1>
  
  <p>Please Signup Below</p>
  <form action="/foodies" method="post">
    <input type="text" placeholder="Enter Username" name="foody[name]">
    <br>
    <br>
    <input type="password" placeholder="Enter Password" name="foody[password]">
    <br>
    <br>
    <input type="submit" value="Sign Up">
  </form>
</div>
